html {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
body {
    text-align: center;
    background-image: url("https://assets.teenvogue.com/photos/5cb5ff973cf0e72e269e753f/16:9/w_2560%2Cc_limit/TeenVogue_2.jpg");
    background-attachment: fixed;
}

ul {
    list-style: none;
}

.card {
    background-color: #fffcfc;
    padding: 20px;
    margin: 20px;
    border-radius: 12px;
    box-shadow: 2px 2px 6px #333;
    display: inline-block;
    text-align: center;
  }

  .header {
    border: solid black;
    border-radius: 12px;
    background-color: goldenrod;
  }